body, html {
    height: 100%;
    margin: 0;
}

.home-header {
    height: 100%;
    background-image: url("res/img/home-header-background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.home-header-text {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.637);
    padding: 1rem; 
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-family: Helvetica, Arial, sans-serif;
}

.home-header-text p {
    font-size: 2rem;
}

.home-header-text h1 {
    font-size: 4rem;
}

.home-header-text .contact-button {
    font-size: 1.3rem;
    background-color: rgb(42, 95, 165);
    color: aliceblue;
    text-align: center;
    border-radius: 3px;
    border: none;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}