html, body {
    height: 100%;
}

.wg-hero {
  min-height: 100%;
  flex: 1;
}

.hero-container {
  display: flex;
}

.hero-container .hero-title h1 {
  overflow: hidden;
  border-right: 0.1em solid #8be9fd;
  white-space: nowrap;
  letter-spacing: 0.1em;
  display: flex;
  animation: typing 1.5s steps(13, end), blink-caret 0.75s step-end infinite;
  font-size: 4rem;
  margin-top: 8rem;
}

/* Typewriter effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #8be9fd;
  }
}

@media only screen and (max-device-width: 480px) {
    .hero-container .hero-title h1 {
        margin-top: 2rem;
        margin-bottom: .5rem;
        font-size: 2.2rem;
    }
}

